@inject IDialogService DialogService

<MudExpansionPanel Text="Product Info" IsInitiallyExpanded=true Icon="@Icons.Material.Filled.Info">
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.Name" Label="Name" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.ShortDescription" Label="ShortDescription" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.FullDescription" Label="FullDescription" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.AdminComment" Label="AdminComment" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudSwitch @bind-Checked="@productVM.Enable" Color="Color.Primary">Enable</MudSwitch>
    </div>
</MudExpansionPanel>

<MudExpansionPanel Text="Related products" IsInitiallyExpanded=true Icon="@Icons.Material.Filled.Info">
    <MudPaper Elevation="25">
        <MudToolBar>
            <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="ShowProductList" />
            <MudIconButton Icon="@Icons.Material.Outlined.Edit" Href="Product_Create" />
            <MudIconButton Icon="@Icons.Material.Outlined.Delete" Href="Product_Create" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
        </MudToolBar>
    </MudPaper>
    <MudDataGrid T="RelatedProductDto" Hover=true ServerData="LoadRelatedProducts" EditMode="DataGridEditMode.Cell"
                 SortMode="SortMode.Multiple"
                 Bordered="true" Dense="true" EditTrigger="(DataGridEditTrigger.OnRowClick)">
        <Columns>
            <PropertyColumn Property="x => x.Product2.Name" />
        </Columns>
        <PagerContent>
            <MudDataGridPager T="RelatedProductDto" RowsPerPageString="Elements per page"></MudDataGridPager>
        </PagerContent>
    </MudDataGrid>
</MudExpansionPanel>

