@page "/Product_Index"
@using SampleProjects.Shared.Dtos;
@inject IDialogService _dialogService;

<h3>Product</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Product_Create">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </NavLink>
</div>

@if (productDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @inject HttpClient httpClient

    <MudDataGrid T="ProductDto" Items="@productDtos" ReadOnly="@_readOnly" EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
                 StartedEditingItem="@StartedEditingItem" SortMode="SortMode.Multiple" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                 Bordered="true" Dense="true" EditTrigger="(DataGridEditTrigger.OnRowClick)">
        <Columns>
            <PropertyColumn Property="x => x.Name" />
            <PropertyColumn Property="x => x.ShortDescription" />
            <PropertyColumn Property="x => x.FullDescription" />
            <PropertyColumn Property="x => x.AdminComment" />
            @*             <PropertyColumn Property="x => x.AdminComment">
        <EditTemplate>
        <MudSelect @bind-Value="context.Item.Id" Required RequiredError="You must select a Position!!!" Margin="@Margin.Dense">
        <MudSelectItem Value="0">zero</MudSelectItem>
        <MudSelectItem Value="1">one</MudSelectItem>
        <MudSelectItem Value="17">seventeen</MudSelectItem>
        </MudSelect>
        </EditTemplate>
        </PropertyColumn> *@
            <PropertyColumn Property="x => x.Enable">
                <EditTemplate>
                    <MudSwitch @bind-Checked="@context.Item.Enable" Color="Color.Primary"></MudSwitch>
                </EditTemplate>
            </PropertyColumn>
            <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)" CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Variant=Variant.Filled Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                    <MudIconButton Variant=Variant.Filled OnClick="@(() => DeleteAsync(@context.Item.Id))" Color="@Color.Default" Icon="@Icons.Material.Filled.Delete" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}




