@page "/Product_Index"
<h3>Product</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Product_Create">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </NavLink>
</div>

@if (productDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @inject HttpClient httpClient

    <MudTable Items="@productDtos" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>ShortDescription</MudTh>
            <MudTh>FullDescription</MudTh>
            <MudTh>AdminComment</MudTh>
            <MudTh>ShowOnHomepage</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="ShortDescription">@context.ShortDescription</MudTd>
            <MudTd DataLabel="FullDescription">@context.FullDescription</MudTd>
            <MudTd DataLabel="AdminComment">@context.AdminComment</MudTd>
            <MudTd DataLabel="ShowOnHomepage">@context.ShowOnHomepage</MudTd>
            <MudTd DataLabel="Position" HideSmall="_hidePosition">@context.ShowOnHomepage</MudTd>
            @* <MudButton Color="Color.Error" @OnClick="@Delete(context.Id)" IconClass="@Icons.Material.Filled.Delete">Delete</MudButton> *@
        </RowTemplate>
    </MudTable>

    <MudSwitch @bind-Checked="_loading">Show Loading</MudSwitch>
}




