@page "/Product_Index"
<h3>Product</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Product_Create">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </NavLink>
</div>

<MatTable Items="@productDtos"
          class="mat-elevation-z5"
          OnRowDbClick="OnPersonDbClicked"
          AllowSelection="true">
    <MatTableHeader>
        <th>Id</th>
        <th>Name</th>
        <th>ShortDescription</th>
        <th>FullDescription</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.ShortDescription</td>
        <td>@context.FullDescription</td>
    </MatTableRow>
</MatTable>
